:root{
	--header-height: 2rem;
	--footer-height: 0rem;
	--handler-size: 1rem;

	--header: lightgreen;
	--main: transparent;
	--aside: transparent;
	--footer: lightpink;
	--handler: tomato;
}

/*detail root*/
:root{
	--article-color: transparent;
	--text-color: rgba(0,0,0,0.1);
	--media-color: yellow;
	--baseline-color: black;

    --ratio: 1.24;
    --fsXSmall: 0.6rem;
    --lhXSmall: calc(var(--fsXSmall)*var(--ratio) - 0px);
    --fsSmall: 0.8rem;
    --lhSmall: calc(var(--fsSmall)*var(--ratio) - 0px);
    --fsNormal: 1.1rem;
    --lhNormal: calc(var(--fsNormal)*var(--ratio) + 0px);
    --fsLarge: 2.2rem;
    --lhLarge: calc(var(--fsLarge)*var(--ratio));
    --fsXLarge: 3.3rem;
    --lhXLarge: calc(var(--fsXLarge)*var(--ratio) - 0px);

    --indentXS: 0.6rem;
    --indentS: 0.8rem;
    --indentM: 1.1rem;
    --indentL: 1.5rem;
    --indentXL: 2.1rem;

	--box-s: 0 0 0 1px black;
}
img, video, audio, iframe, table{
	background-color: var(--media-color);
	box-shadow: var(--box-s);
	padding: var(--lhNormal);
	width: 100%;
	opacity: 1;
	/*display: none;*/
}

* {
	box-sizing: border-box;
}
html{}
body{ margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden; overflow-y: auto;}
div, ul, li{ margin: 0; padding: 0; list-style: none; }
iframe{ outline: none; border: none; }
button{ outline: none; border: none; padding: 0; margin: 0; box-shadow: 0 0 0 1px black; cursor: pointer; }

header, main, aside, footer{
	left: 0;
	margin: 0; padding: 0;
	width: 100%;
}

header{
	position: fixed;
	background-color: var(--header);
	top: 0; height: var(--header-height);
	z-index: 1;
}
header > ul{
	width: 100%; height: var(--header-height);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}
header > ul > li{ width: 100%; height: 100%; vertical-align: top; overflow: hidden; box-shadow: 0 0 0 1px black; }
header > ul > li button{ display: table; width: 100%; height: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
header a{ text-decoration: none; color: black; }

main{
	position: absolute;
	top: var(--header-height); left: 0;
	background-color: var(--main);
	margin-top: 0; height: calc(100% - var(--header-height) - var(--footer-height));
	padding: 8px;
}
main > div#input, main > div#output {
	position: absolute;
	height: 100%;
}
#input{}
#output{
	/*background-color: lightyellow;*/
	overflow-y: auto;
	overflow-x: hidden;
}
aside{
	background-color: var(--aside);
	top: var(--header-height); height: calc(100% - var(--header-height) - var(--footer-height)); pointer-events: none;
}
footer{
	position: fixed;
	background-color: var(--footer);
	bottom: 0; height: var(--footer-height);
	display: none;
}
footer > ul{
	width: 100%; height: var(--footer-height);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}
footer > ul > li{ width: 100%; height: 100%; vertical-align: top; overflow: hidden; box-shadow: 0 0 0 1px black; }
footer > ul > li button{ display: table; width: 100%; height: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
footer a{ text-decoration: none; color: black; }


.handler{
	background-color: var(--handler); 
	position: absolute;
	pointer-events: all;
}
#handler{
	height: 100%; width: var(--handler-size); top: 0;
}
#handler button{
	position: relative;
	display: table;
	height: 100%; width: 100%;
	pointer-events: none;
	outline: none; border: none; padding: 0; margin: 0; box-shadow: 0 0 0 1px black;
	background-color: var(--handler);
}

/**/
button > span{
	background-color: gold;
	color: black;
	margin-right: 3px;
}
.label:after{ content: " : "; }
.docs{ cursor: pointer; }
.docs.active{ background-color: gainsboro; }
#pdf{
	width: 100%; height: calc(100% + var(--footer-height));
}

/* PAGE INDEX */

ul.row {
	display: flex;

	position: relative;
	padding: 8px 0px 8px 0px;
	margin: -1px 0;
}
ul.row li {
	flex: 1;
	background-color: white;
}
ul.row li:not(:last-child) {
    margin-right: 8px;
}

li.caption li {
	padding: 4px;
	border: 1px solid black;
}

.article .row::before, .article .row::after {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 1px;
    background-color: darkgrey;
}
.article .row::before {
    content: "";
    top: 0;
}
.article .row::after {
    content: "";
    bottom: 0;
}

.list_articles {
    margin-bottom: 100px;
}

/* PAGE EDITOR */
.editor-toolbar {
    position: sticky !important;
    top: 0px;
    z-index: 10;
    background: white;
}

.editor-toolbar button{ box-shadow: none; }

form{
	/*margin: 1rem;*/
}

iframe {
    display: block;
    margin: auto;
    width: 80vh;
    height: 90vh;
}
.links-container{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 4px;
	background-color: cyan;
	border-bottom: 1px solid black;
	display: none;
}
.links{
	cursor: default;
	border-radius: 4px;
	background-color: gainsboro;
	font-family: sans-serif, Arial, Helvetica;
	font-size: 0.8rem;
	width: 100%;
	text-align: center;
	box-shadow: var(--box-s);
	margin: 4px;
}

body[data-page="detail"]{
	overflow-y: auto;
}