:root{
    --article-width: 600px;
    --ratio: 1.24;
    --fsXSmall: 0.6rem;
    --lhXSmall: calc(var(--fsXSmall)*var(--ratio) - 0px);
    --fsSmall: 0.8rem;
    --lhSmall: calc(var(--fsSmall)*var(--ratio) - 0px);
    --fsNormal: 1.1rem;
    --lhNormal: calc(var(--fsNormal)*var(--ratio) + 0px);
    --fsLarge: 2.2rem;
    --lhLarge: calc(var(--fsLarge)*var(--ratio));
    --fsXLarge: 3.3rem;
    --lhXLarge: calc(var(--fsXLarge)*var(--ratio) - 0px);

    --indentXS: 0.6rem;
    --indentS: 0.8rem;
    --indentM: 1.1rem;
    --indentL: 1.5rem;
    --indentXL: 2.1rem;
}

@font-face{
    font-family: "akkurat";
    src: url("fonts/akkuratl.ttf");
}

@font-face{
    font-family: "windsor";
    src: url("fonts/windsor_bt.ttf");
}

/* article mis en page */
body[data-page="detail"]{
    font-family: "akkurat";
	overflow-x: hidden; overflow-y: auto;
}

body[data-page="detail"][data-format="html"]{
	width: 100%; height: 100%;
}

body[data-format="html"][data-ratio="xs"]{}
body[data-format="html"][data-ratio="s"]{}
body[data-format="html"][data-ratio="m"] > main > div > article{
    width: var(--article-width);
}
body[data-format="html"][data-ratio="l"] > main > div > article{
    width: var(--article-width);
}
body[data-format="html"][data-ratio="xl"] > main > div > article{
    width: var(--article-width);
}
body[data-format="html"][data-ratio="xxl"] > main > div > article{
    width: var(--article-width);
}

body[data-format="pdf"][data-ratio="m"] > main > div > iframe{
    width: var(--article-width); margin-left: auto; margin-right: auto;
}
body[data-format="pdf"][data-ratio="l"] > main > div > iframe{
    width: var(--article-width); margin-left: auto; margin-right: auto;
}
body[data-format="pdf"][data-ratio="xl"] > main > div > iframe{
    width: var(--article-width); margin-left: auto; margin-right: auto;
}
body[data-format="pdf"][data-ratio="xxl"] > main > div > iframe{
    width: var(--article-width); margin-left: auto; margin-right: auto;
}

body{
	/*overflow-x: hidden; overflow-y: auto;*/
    background-color: rgb(248,247,238);
}
.footnoteRef{
    font-family: "windsor";
    background-color: transparent;
    margin-left: 1px;
    color: firebrick;
    box-shadow: none;
}
.footnote-back{
    font-family: "windsor";
    /*background-color: transparent;
    margin-left: 1px;
    color: firebrick;
    box-shadow: none;*/
}
.footnote-ref > sup{
    text-transform: none;
    vertical-align: middle;
    font-size: var(--fsNormal);
}
article{
	display: block;
	width: 100%; height: 100%;
	/*box-shadow: var(--box-s);
	background: linear-gradient(0deg, var(--baseline-color) 0.2px ,transparent 1px);
	background-size: 1px var(--lhNormal), 100% 100%;
	background-position: 0 -4px;
	background-repeat: repeat;
    background-color: white;*/
    margin: calc(var(--lhXLarge)) auto;
    color: maroon;
}
article a{
    background-color: rgba(137,106,83,0.2);
    color: black;
    padding: 0 4px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 0 1px white;
}
article h1, h2{
    font-family: "windsor";
}

article h1, h2, h3, h4, h5, h6, p, blockquote, figure{
	margin: var(--lh);
   /* background-color: var(--text-color);*/
	/*box-shadow: var(--box-s);*/
}


article img{
    margin-bottom: var(--lhNormal);
}
article video{
    margin-bottom: var(--lhNormal);
}
article audio{
    margin-bottom: var(--lhNormal);
}
article iframe{
    margin-bottom: var(--lhNormal);
}

article blockquote{
    margin-left: var(--lhNormal);
    padding: var(--lhSmall);
    background-color: white;
}
article blockquote > p{
    margin: 0; padding: 0;
    font-size: var(--fsSmall);
    line-height: var(--lhSmall);
    letter-spacing: 0.5px;
}


article h1{
    font-size: var(--fsXLarge);
    line-height: var(--lhXLarge);
    margin-bottom: var(--lhNormal);
    /*background-color: khaki;*/
    color: black;
}

article h2{
    font-size: var(--fsLarge);
    line-height: var(--lhLarge);
    min-height: calc(var(--lhLarge) + 0px);
    margin-top: calc(var(--lhLarge) + 0px);
    margin-bottom: calc(var(--lhSmall) + 1px);
    color: maroon;
    /*background-color: lightpink;*/
}
article h3{
    font-size: var(--fsNormal);
    line-height: var(--lhNormal);
    min-height: calc(var(--lhNormal) + 0px);
    font-weight: bold;
    /*background-color: lightgreen;*/
    margin-top: calc(var(--lhNormal) + 0px);
    margin-bottom: calc(var(--lhNormal) + 0px);
    margin-left: calc(var(--lhSmall) + 1px);
    color: maroon;
}
article h4{
    font-size: var(--fsNormal);
    line-height: var(--lhNormal);
    min-height: calc(var(--lhNormal) + 0px);
    text-decoration: underline;
    /*background-color: lightblue;*/
}
article h5{
    font-size: var(--fsNormal);
    line-height: var(--lhNormal);
    min-height: calc(var(--fsNormal) + 0px);
    /*background-color: orange;*/
}
article p{
    font-size: var(--fsNormal);
    line-height: var(--lhNormal);
    min-height: calc(var(--fsNormal) + 0px);
    margin-top: var(--lhNormal);
    margin-bottom: var(--lhNormal);
    /*background-color: gainsboro;*/
}
article ul, ol{
	padding: 0; margin-bottom: var(--lhNormal);
}
article ul{}
article li{
	list-style: "✿ ";
    margin-left: var(--lhNormal);
}
article ol{}
article ol > li{
	list-style: all;
}

article ul > li{}
article li{
/*    font-size: var(--fsNormal);
    line-height: var(--lhNormal);*/
}



article table{}
article table > thead{ background-color: white; }
article table > tbody{ background-color: white; }
article tr{}
article th{}

article img{
    background-color: white;
    box-shadow: none;
    border-bottom: 1px solid maroon;
    margin-bottom: 0;
}
article figure{
    margin: var(--lhNormal);
    background-color: tomato;
    box-shadow: 0 0 0 1px firebrick;
}
article figure > figcaption{
    padding: var(--lhSmall);
    background-color: lightyellow;
}
article figure > figcaption > ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0; padding: 0;
    list-style: none;
}
article figure > figcaption > li{
    font-size: var(--fsSmall);
    line-height: var(--lhSmall);
    width: 100%; height: auto;
    list-style: none;
    margin: 0;
}
article figure > figcaption > li.credits{ font-style: italic; }
article figure > figcaption > li.cote{ font-style: italic; }
article figure > figcaption > li.caption{}

.figure{
    margin: var(--lhNormal);
    background-color: tomato;
    box-shadow: 0 0 0 1px firebrick;
}
.figure img{
    margin: var(--lhNormal);
    background-color: white;
    box-shadow: 0 0 0 1px firebrick;
}
.figure > .caption{
    padding: var(--lhSmall);
    background-color: lightyellow;
    font-size: var(--fsSmall);
    line-height: var(--lhSmall);
    width: 100%; height: auto;
    list-style: none;
    margin: 0;
}

.footnotes > ol > li{
    list-style: decimal;
}


.sous_titre {
    font-size: var(--fsLarge);
    line-height: var(--lhLarge);
}

sup { font-size: var(--fsNormal); }

.cm-null, .cm-spell-error{ background-color: transparent; }
.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word){ background-color: transparent; }