:root{
	--item-h: 2rem;
	--aside-w: 50%;
	--msg-c: lightpink;
	--highlight-c: orangered;
}

#searcher{
	position: sticky !important;
	top: 2px;
	display: table;
	margin: 0; padding: 0 0.5rem;
	width: 100%; height: var(--item-h);
	outline: none; border: none;
	box-shadow: 0 0 0 1px gainsboro; background-color: white;
}

.item{
	display: flex;
	width: 100%; height: auto;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	vertical-align: top;
	min-height: var(--item-h);
	background-color: white;
	border-bottom: 1px solid gainsboro;
}
.item.inactive{
	display: none;
}
.node{
	background-color: var(--highlight-c);
	font-style: normal;
}
.item[data-parent=true]{
	display: table;
	width: 100%;
	text-align: left;
	background-color: lightgrey;
	padding-left: 0.5rem;
}
.even{
	background-color: rgba(240,240,240);
	background-color: lightyellow;
}

.item{
	display: flex;
}
.item > div{
	width: calc(100% / 3);
	box-shadow: 0 0 0 1px gainsboro;
}
.item > div:nth-child(2){
	text-align: left;
}

.item-tool{
	width: 100%;
}
.item-tool > button{
	height: var(--item-h);
	padding: 0 4px;
	vertical-align: text-top;
}
.item-type{
	width: 100%;
	text-transform: lowercase;
	line-height: var(--item-h);
}
.item-name{
	width: 100%;
	line-height: var(--item-h);
}
.item-date{
	width: 100%;
	line-height: var(--item-h);

}

/* ✔ */
.item-url{ background-color: yellow; }
.clipboard-targets{ position: fixed; bottom: 0; height: 0; width: 0; }
.clipboard:before{
	content: "⧉"; color: blue;
}
.clipboard.success:before{
	content: "✔"; color: green;
}
.clipboard.error:before{
	content: "☹"; color: red;
}
.deleter:before{
	content: "✕"; color: red;
}
.renamer:before{
	content: "renommer";
}
.mover:before{
	content: "move";
}

/* forms */
#current_url{
	cursor: default;
	padding: 0.5rem;
	font-family: arial, Helvetica, sans-serif;
	font-size: 0.7rem;
	overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
	border-bottom: 1px solid black;
	width: calc(100% - 0);
	background-color: gainsboro;
	letter-spacing: 1px;
}
#current_url:before{
	content: "● ";
}

#form-controller{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}
#form-controller > li{
	width: 100%; height: 2rem;
	white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
#form-controller > li > button{
	width: 100%; height: 2rem;
	white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
#form-controller > li.active > button{
	background-color: transparent; outline: none; border: none;
	pointer-events: none;
}

.form{
	padding: 0.5rem;
	border-bottom: 1px solid gainsboro;
	display: none;
}
.form.active{
	display: block;
}

.form h4{}
#create-repository{}
#create-file{}
#rename-item{}
#delete-item{}

#mover-name{
	outline: none; border: none;
	margin: 0; padding: 0; display: inline-block; width: auto;
	background-color: lightyellow;
}
/*msgs*/
.msg{
	display: none;
	margin: 0; padding: 0 0.5rem;
	width: calc(100% - 1rem); height: auto;
	outline: none; border: none;
	box-shadow: 0 0 0 1px transparent;
}
.msg.active{
	display: table;
}

.form-empty{ background-color: deepskyblue; }
.form-success{ background-color: chartreuse; }
.form-error{ background-color: orangered; }
.form-process{ background-color: yellow; }
.form-abort{ background-color: gainsboro; }
.validator{
	color: green;
}
.canceler{
	color: red;
}

.mover-urls{
	display: table;
	width: calc(100% - 1rem);
	/*width: calc(100% - 0rem); height: auto;
	background-color: rgba(255,255,255,0.6);
	outline: none; border: none;*/
}

#name-extension, #name-name{
	padding: 1px 1px; background-color: rgba(255,255,255,1);
	font-style: italic; font-family: arial, helvetica, sans-serif;
	font-size: 0.9rem;
}
#name-extension:empty{
	display: none;
}
#name-extension:before{
	content: ".";
}

#directory-list:empty:after{
	display: table;
	width: calc(100% - 2rem);
	content: "Le dossier medias/ est vide.";
	padding: 1rem;
	background-color: white;
}

.img-container, .vid-container, .aud-container{
	max-width: 250px;
}
.img-container > a > img{
	width: 200px;
}
.vid-container > a > video{
	width: 100%;
}
.vid-container > audio{
	width: 100%;
}