

/* RESET */

* {
  box-sizing: border-box;
  list-style-position: inside;
}


html {font-size: 90%;}

/* CONFIG PAGE */

@page  {
  size: A4;

  margin: 20mm 20mm 20mm 20mm;

  /* titre courant */
  @top-left {
    content: element(headerLeft);
  }

  @top-center {
  }

  /* titre courant */
  @top-right {
    content: element(headerRight);
  }

  /* numéro de pages */
  counter-increment: page;
  @bottom-right {
    content: counter(page) "/" counter(pages);
    font-family: IBM Plex Mono;
    font-size: 7pt;
  }

}

/* PAGE BREAKK */

hr {
  page-break-after: always;
  border: none;
}

body, h5, h6 {
  font-family: IBM Plex Sans;
  font-size: 10pt;
}
h1 {
  font-size: 18pt;
}
h2 {
  font-size: 16pt;
}
h3 {
  font-size: 14pt;
}
h4 {
  font-size: 12pt;
}


/* TITRES COURANTS */
.headerLeft {
  position: running(headerLeft);
  margin-bottom: 0mm;

  font-family: IBM Plex Mono;
  font-size: 7pt;
}
.headerRight {
  position: running(headerRight);
  margin-bottom: 0mm;

  font-family: IBM Plex Mono;
  font-size: 7pt;
}


/*detail root*/
:root{
  --article-color: transparent;
  --text-color: rgba(0,0,0,0.1);
  --media-color: yellow;
  --baseline-color: black;

    --ratio: 1.24;
    --fsXSmall: 0.6rem;
    --lhXSmall: calc(var(--fsXSmall)*var(--ratio) - 0px);
    --fsSmall: 0.8rem;
    --lhSmall: calc(var(--fsSmall)*var(--ratio) - 0px);
    --fsNormal: 1.1rem;
    --lhNormal: calc(var(--fsNormal)*var(--ratio) + 0px);
    --fsLarge: 2.2rem;
    --lhLarge: calc(var(--fsLarge)*var(--ratio));
    --fsXLarge: 3.3rem;
    --lhXLarge: calc(var(--fsXLarge)*var(--ratio) - 0px);

    --indentXS: 0.6rem;
    --indentS: 0.8rem;
    --indentM: 1.1rem;
    --indentL: 1.5rem;
    --indentXL: 2.1rem;

  --box-s: 0 0 0 1px black;
}


/* MARGIN */
h1, h2, h3, h4 {
  margin: 10px 0 10px 0;
}


a{
    background-color: rgba(137,106,83,0.2);
    color: black;
    padding: 0 4px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}
h1, h2{
    font-family: "windsor";
}

h1, h2, h3, h4, h5, h6, p, blockquote, figure{
   /* background-color: var(--text-color);*/
  /*box-shadow: var(--box-s);*/
}



blockquote{
    margin-left: 50px;
    padding: var(--lhSmall);
    background-color: white;
}
blockquote > p {
    margin : 0px;
    text-indent: 20px;
}


h1{
    font-size: var(--fsXLarge);
    line-height: var(--lhXLarge);
    margin-bottom: var(--lhNormal);
    /*background-color: khaki;*/
    color: black;
}

h2{
    font-size: var(--fsLarge);
    line-height: var(--lhLarge);
    min-height: calc(var(--lhLarge) + 0px);
    color: maroon;
    /*background-color: lightpink;*/
}
h3{
    font-size: var(--fsNormal);
    line-height: var(--lhNormal);
    min-height: calc(var(--lhNormal) + 0px);
    font-weight: bold;
    /*background-color: lightgreen;*/
    margin-left: calc(var(--lhSmall) + 1px);
    color: maroon;
}
h4{
    font-size: var(--fsNormal);
    line-height: var(--lhNormal);
    min-height: calc(var(--lhNormal) + 0px);
    text-decoration: underline;
    /*background-color: lightblue;*/
}
h5{
    font-size: var(--fsNormal);
    line-height: var(--lhNormal);
    min-height: calc(var(--fsNormal) + 0px);
    /*background-color: orange;*/
}
p{
    font-size: var(--fsNormal);
    line-height: var(--lhNormal);
    min-height: calc(var(--fsNormal) + 0px);
    text-indent: 20px;
    /*background-color: gainsboro;*/
}



table{}
table > thead{ background-color: white; }
table > tbody{ background-color: white; }
tr{}
th{}

img{
    background-color: white;
    box-shadow: none;
    border-bottom: 1px solid maroon;
    
}
figure{
    
    background-color: tomato;
    box-shadow: 0 0 0 1px firebrick;
}
figure > figcaption{
    padding: var(--lhSmall);
    background-color: lightyellow;
}
figure > figcaption > ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    list-style: none;
}
figure > figcaption > li{
    font-size: var(--fsSmall);
    line-height: var(--lhSmall);
    width: 100%; height: auto;
    list-style: none;
    
}
figure > figcaption > li.credits{ font-style: italic; }
figure > figcaption > li.cote{ font-style: italic; }
figure > figcaption > li.caption{}

.figure{
    
    background-color: tomato;
    box-shadow: 0 0 0 1px firebrick;
}
.figure img{
    
    background-color: white;
    box-shadow: 0 0 0 1px firebrick;
}
.figure > .caption{
    padding: var(--lhSmall);
    background-color: lightyellow;
    font-size: var(--fsSmall);
    line-height: var(--lhSmall);
    width: 100%; height: auto;
    list-style: none;
    
}

.footnotes > ol > li{
    list-style: decimal;
    font-size: var(--fsNormal);
    line-height: var(--lhNormal);
}
.footnotes p {
  text-indent: 0px;
}

.sous_titre {
    font-size: var(--fsLarge);
    line-height: var(--lhLarge);
}

/* COMPTEURS */
/*
h1 { counter-reset: h2counter; }
h2 { counter-reset: h3counter; }
h3 { counter-reset: h4counter; }
h4 { counter-reset: h5counter; }
h5 { counter-reset: h6counter; }
h6 {}

h2:before {
    counter-increment: h2counter;
    content: counter(h2counter) ".\0000a0\0000a0";
}

h3:before {
    counter-increment: h3counter;
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
}

h4:before {
    counter-increment: h4counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
}

h5:before {
    counter-increment: h5counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
}

h6:before {
    counter-increment: h6counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ".\0000a0\0000a0";
}
*/

/* IMG */
img {
  display: block;
  max-width: 100%;
}

/* TABLEAU */ 
table {
  font-size: 8.5pt;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr {
  border-top: 1px solid #cccccc
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) 
}

table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 4px 9px;
}

table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 4px 9px;
}

table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}


/* CODE */
code, tt {
  font-size: 9pt;
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea
  border-radius: 3px;
}

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

sup, sub {
  border: solid 1px;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  border: 0px;
}
sub {
  top: 0.4em;
  border: 0px;
}